@media (max-width: 800px) {
  /* Hide main navigation when screen is small */
  .navigation {
    display: none;
  }
  /* Toggle hamburger menu on */
  [data-role="hamburger-menu"] {
    display: initial;
  }

  /* Relocate 2nd navigation for social connections */
  .socials-links {
    top: 12px;
    left: initial;
    right: 12px !important;
    width: 40px;
  }

  .category_header {
    font-size: 2.5em;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    margin: 12px 0;
    top: 10px;
  }

  .news_block {
    padding: 30px;
    width: initial;
    margin-bottom: 30px;
  }

  .news_block h1 {
    margin: 10px 0px 0px 0px;
    font-size: 24px;
  }

  .sinnet_links {
    font-size: 29px;
    padding-bottom: 10px;
  }

  .sinnet_music {
    display: none;
  }

  /* Get iframes in line */
  .iframe {
    height: 420px !important;
    width: auto !important;
  }

  .jams .category_header {
    width: 85%;
    text-align: center;
  }

  #slide7 {
    height: 1400px;
  }

  .jams-section .box {
    margin: 0px 0px 8px 0px;
    width: 90%;
  }

  .jams-section iframe {
    width: 40%;
    height: 141px;
    padding: 6px;
    margin: 8px 8px 8px 0px;
  }

  .video {
    display: initial;
  }

  .video .category_header {
    width: auto;
    text-align: left;
  }

  .video-container iframe {
    width: 100% !important;
    height: 250px !important;
  }

  .info_box_text {
    width: 100%;
    float: none;
    text-align: left;
  }

  .sinnet-logo-container {
    top: 8px;
  }
  .category_header img {
    height: 40px;
  }
  .sinnet-logo-container img {
    height: 48px;
  }

  .poster-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .poster {
    width: 55%;
    height: auto;
    box-shadow: 0px 2px 8px rgb(24 24 24 / 20%);
    margin: 0px 0px 15px 0px;
  }

  .content {
    padding: 0 30px;
    float: none;
  }

  .info_box_text p {
    margin-bottom: 14px;
    line-height: 24px;
  }

  .top-section-image {
    max-width: 900px;
    max-height: 900px;
    width: 90%;
    height: 90%;
  }

  .photo_full_width {
    display: none;
  }

  .photo_full_width_mobile {
    display: block;
  }

  .navigation li:hover,
  .active {
    font-size: 26px;
    color: #f38bb3;
  }

  .info-section main {
    flex-wrap: nowrap;
    height: auto;
  }
}
